In [5]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.488681
   2    1.557109
   3    0.723351
b  1    0.885966
   2   -1.399638
c  3   -0.491651
   1    1.243553
d  2    1.452964
   3    1.902340
dtype: float64

In [6]:

data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [7]:

data['a']

1    0.488681
2    1.557109
3    0.723351
dtype: float64

In [8]:
#2維堆疊資料
data

a  1    0.488681
   2    1.557109
   3    0.723351
b  1    0.885966
   2   -1.399638
c  3   -0.491651
   1    1.243553
d  2    1.452964
   3    1.902340
dtype: float64

In [9]:
#2維,表格資料
data.unstack()

          1         2         3
a  0.488681  1.557109  0.723351
b  0.885966 -1.399638       NaN
c  1.243553       NaN -0.491651
d       NaN  1.452964  1.902340

In [10]:
data.index.names = ['分類','數值']
data

分類  數值
a   1     0.488681
    2     1.557109
    3     0.723351
b   1     0.885966
    2    -1.399638
c   3    -0.491651
    1     1.243553
d   2     1.452964
    3     1.902340
dtype: float64

In [11]:
data.unstack(level='分類')

分類         a         b         c         d
數值
1   0.488681  0.885966  1.243553       NaN
2   1.557109 -1.399638       NaN  1.452964
3   0.723351       NaN -0.491651  1.902340

In [12]:

data.unstack(level='數值')

數值         1         2         3
分類
a   0.488681  1.557109  0.723351
b   0.885966 -1.399638       NaN
c   1.243553       NaN -0.491651
d        NaN  1.452964  1.902340